.general {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.leftside,
.rightside {
  width: 48%; /* Hər iki tərəfin bərabər genişlikdə olması üçün */
  text-align: left;
  text-decoration: none;
}

.rightside {
  text-align: right;

  text-decoration: none;
}
span {
  color: purple;
}
img {
  width: 100%;
  height: 50%;
  top: 230px;
}
